<mat-toolbar>
	<button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
		<mat-icon>menu</mat-icon>
	</button>
	<span>Cardápio</span>
</mat-toolbar>

<div class="tittleLogo">
	<img src="../assets/img/minhaLogo1.png" alt="Logo" class="minhaLogo">
	<h1 class="tittles">Galaxy's Refuge</h1>
</div>

<div class="menuItens">
	<div class="external">
		<div class="horizontal-scroll-wrapper">
			<div class="img-wrapper slower vertical">
				<a href="https://altphotos.com/photo/sidewalk-terrace-of-a-blue-facade-cafe-312/" target="_blank"
					rel="noopener">
					<img class="imgCard" src="../../assets/img/shuura.png" alt="">
				</a>
			</div>

			<div class="img-wrapper slower">
				<a href="https://altphotos.com/photo/stylish-parisian-cafe-terrace-279/" target="_blank" rel="noopener">
					<img class="imgCard" src="../../assets/img/chewbaccaThigh.jpg" alt="">
					<p>Chewbacca Thigh</p>
				</a>
			</div>

			<div class="img-wrapper faster">
				<a href="https://altphotos.com/photo/retro-boy-doll-wearing-elegant-clothes-330/" target="_blank"
					rel="noopener">
					<img class="imgCard" src="../../assets/img/frogSnacks.png" alt="">
					<p>Frog Snacks</p>
				</a>
			</div>

			<div class="img-wrapper slower vertical">
				<a href="https://altphotos.com/photo/clocks-shop-exposition-window-reflecting-the-streets-277/"
					target="_blank" rel="noopener">
					<img class="imgCard" src="../../assets/img/roastedPorg.png" alt="">
					<p>Roasted Porg</p>
				</a>
			</div>

			<div class="img-wrapper slower slower-down">
				<a href="https://altphotos.com/photo/swans-and-ducks-swimming-in-a-river-264/" target="_blank"
					rel="noopener">
					<img class="imgCard" src="../../assets/img/rootStew.png" alt="">
					<p>Root Stew</p>
				</a>
			</div>

			<div class="img-wrapper">
				<a href="https://altphotos.com/photo/sidewalk-terrace-of-a-blue-facade-cafe-312/" target="_blank"
					rel="noopener">
					<img class="imgCard" src="../../assets/img/shuura.png" alt="">
					<p>Shuura</p>
				</a>
			</div>

			<div class="img-wrapper slower">
				<a href="https://altphotos.com/photo/paris-waterfront-at-sunset-1555/" target="_blank" rel="noopener">
					<img class="imgCard" src="../../assets/img/coloClawFish.png" alt="">
					<p>Colo Claw Fish</p>
				</a>
			</div>












			<div class="img-wrapper faster1">
				<a href="https://altphotos.com/photo/old-man-leaning-over-the-barrier-looking-at-the-river-265/"
					target="_blank" rel="noopener">
					<img class="imgCard" src="../../assets/img/greenBlueMilk.png" alt="">
					<p>Green/Blue Milk</p>
				</a>
			</div>

			<div class="img-wrapper slower slower2">
				<a href="https://altphotos.com/photo/cafe-terrace-with-a-row-of-retro-tables-261/" target="_blank"
					rel="noopener">
					<img class="imgCard" src="../../assets/img/jabbajuice.png" alt="">
					<p>Jabba Juice</p>
				</a>
			</div>

			<div class="img-wrapper">
				<a href="https://altphotos.com/photo/street-scene-with-pedestrians-and-dogs-318/" target="_blank"
					rel="noopener">
					<img class="imgCard" src="../../assets/img/jawaJuice.png" alt="">
					<p>Jawa Juice</p>
				</a>
			</div>

			<div class="img-wrapper slower">
				<a href="https://altphotos.com/photo/tourist-barge-on-the-river-seine-near-notre-dame-266/"
					target="_blank" rel="noopener">
					<img class="imgCard" src="../../assets/img/thalaSirenMilk.png" alt="">
					<p>Thala Siren Milk</p>
				</a>
			</div>

			<div class="img-wrapper faster">
				<a href="https://altphotos.com/photo/skulls-decoration-in-a-shop-window-331/" target="_blank"
					rel="noopener">
					<img class="imgCard" src="../../assets/img/medNog.png" alt="">
					<p>Med Nog</p>
				</a>
			</div>

			<div class="img-wrapper slower">
				<a href="https://altphotos.com/photo/skulls-decoration-in-a-shop-window-331/" target="_blank"
					rel="noopener">
					<img class="imgCard" src="../../assets/img/spotchka.png" alt="">
					<p>Spotchka</p>
				</a>
			</div>














			<div class="img-wrapper slower vertical">
				<a href="https://altphotos.com/photo/skulls-decoration-in-a-shop-window-331/" target="_blank"
					rel="noopener">
					<img class="imgCard" src="../../assets/img/droidCupCake.png" alt="">
					<p>Droid Cupcake</p>
				</a>
			</div>

			<div class="img-wrapper slower slower-down">
				<a href="https://altphotos.com/photo/skulls-decoration-in-a-shop-window-331/" target="_blank"
					rel="noopener">
					<img class="imgCard" src="../../assets/img/deathStarLoveMace.png" alt="">
					<p>Death Star Love Mace</p>
				</a>
			</div>

			<div class="img-wrapper">
				<a href="https://altphotos.com/photo/skulls-decoration-in-a-shop-window-331/" target="_blank"
					rel="noopener">
					<img class="imgCard" src="../../assets/img/shuuraMousse.png" alt="">
					<p>Shuura Mousse</p>
				</a>
			</div>

			<div class="img-wrapper slower">
				<a href="https://altphotos.com/photo/skulls-decoration-in-a-shop-window-331/" target="_blank"
					rel="noopener">
					<img class="imgCard" src="../../assets/img/millenniumFalconCake.png" alt="">
					<p>Millennium Falcon Cake</p>
				</a>
			</div>
		</div>
	</div>
	<br>
</div>
