<mat-toolbar>
	<button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
		<mat-icon>menu</mat-icon>
	</button>
	<span>Cardápio</span>
</mat-toolbar>

<div class="tittleLogo">
	<img src="../assets/img/minhaLogo1.png" alt="Logo" class="minhaLogo">
	<h1 class="tittles">Galaxy's Refuge</h1>
</div>

<div class="menuItens">
	<div class="external">
		<div class="horizontal-scroll-wrapper">
			<div class="img-wrapper slower vertical">
				<a>
					<h1>Main Courses →</h1>
				</a>
			</div>

			<div class="img-wrapper slower">
				<a>
					<img class="imgCard" src="../../assets/img/chewbaccaThigh.jpg" alt="">
					<p>Chewbacca Thigh</p>
				</a>
			</div>

			<div class="img-wrapper faster">
				<a>
					<img class="imgCard" src="../../assets/img/frogSnacks.png" alt="">
					<p>Frog Snacks</p>
				</a>
			</div>

			<div class="img-wrapper slower vertical">
				<a>
					<img class="imgCard" src="../../assets/img/roastedPorg.png" alt="">
					<p>Roasted Porg</p>
				</a>
			</div>

			<div class="img-wrapper slower slower-down">
				<a>
					<img class="imgCard" src="../../assets/img/rootStew.png" alt="">
					<p>Root Stew</p>
				</a>
			</div>

			<div class="img-wrapper">
				<a>
					<img class="imgCard" src="../../assets/img/shuura.png" alt="">
					<p>Shuura</p>
				</a>
			</div>

			<div class="img-wrapper slower">
				<a>
					<img class="imgCard" src="../../assets/img/coloClawFish.png" alt="">
					<p>Colo Claw Fish</p>
				</a>
			</div>











			<div class="img-wrapper slower vertical">
				<a>
					<h1>Drinks →</h1>
				</a>
			</div>
			<div class="img-wrapper faster1">
				<a>
					<img class="imgCard" src="../../assets/img/greenBlueMilk.png" alt="">
					<p>Green/Blue Milk</p>
				</a>
			</div>

			<div class="img-wrapper slower slower2">
				<a>
					<img class="imgCard" src="../../assets/img/jabbajuice.png" alt="">
					<p>Jabba Juice</p>
				</a>
			</div>

			<div class="img-wrapper">
				<a>
					<img class="imgCard" src="../../assets/img/jawaJuice.png" alt="">
					<p>Jawa Juice</p>
				</a>
			</div>

			<div class="img-wrapper slower">
				<a>
					<img class="imgCard" src="../../assets/img/thalaSirenMilk.png" alt="">
					<p>Thala Siren Milk</p>
				</a>
			</div>

			<div class="img-wrapper faster">
				<a>
					<img class="imgCard" src="../../assets/img/medNog.png" alt="">
					<p>Med Nog</p>
				</a>
			</div>

			<div class="img-wrapper slower">
				<a>
					<img class="imgCard" src="../../assets/img/spotchka.png" alt="">
					<p>Spotchka</p>
				</a>
			</div>













			<div class="img-wrapper slower vertical">
				<a>
					<h1>Desserts →</h1>
				</a>
			</div>
			<div class="img-wrapper slower vertical">
				<a>
					<img class="imgCard" src="../../assets/img/droidCupCake.png" alt="">
					<p>Droid Cupcake</p>
				</a>
			</div>

			<div class="img-wrapper slower slower-down">
				<a>
					<img class="imgCard" src="../../assets/img/deathStarLoveMace.png" alt="">
					<p>Death Star Love Mace</p>
				</a>
			</div>

			<div class="img-wrapper">
				<a>
					<img class="imgCard" src="../../assets/img/shuuraMousse.png" alt="">
					<p>Shuura Mousse</p>
				</a>
			</div>

			<div class="img-wrapper slower">
				<a>
					<img class="imgCard" src="../../assets/img/millenniumFalconCake.png" alt="">
					<p>Millennium Falcon Cake</p>
				</a>
			</div>
		</div>
	</div>
	<br>
</div>
