@font-face {
    font-family: starjedi;
    src: url(../../assets/font/Starjedi.ttf);
}

mat-toolbar {
    background-color: #BB9C7D;
}

.example-spacer {
    flex: 1 1 auto;
}

.tittleLogo {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.minhaLogo {
    width: 275px;
    height: 275px;
    border-radius: 50%;
}

.tittles {
    color: #FFFFFF;
    font-family: 'starjedi';
    font-size: 35px;
}

.destaques {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.btnGroup {
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.links {
    text-align: center;
}

.cardHead {
    height: 500px;
    border-radius: 5%;
    background-color: black;
}

.cardMain {
    height: 450px;
    width: 350px;
    border-radius: 5%;
    background-color: black;
}

.centerCol {
    display: flex;
    justify-content: center;
}

.card-img-top {
    margin: 1px;
    height: 345px;
    width: 345px;
    border-radius: 5%;
}

.card-title {
    text-align: center;
    color: #FFFFFF;
    font-family: 'starjedi';
    font-size: 35px;
}