<section id="main">
  <nav>
    <div class="logo">
      <a href="#">L o g i n</a>
    </div>
    <!--Navigation-->
    <ul class="menu">
      <li><a href="#">Menu</a></li>
    </ul>
  </nav>
  <video src="../../assets/video/Star Wars Intro HD 1080p.mp4" muted autoplay loop></video>
  <div class="main-card">
    <div class="box">
      <form>
        <span class="text-center">login</span>
        <div class="input-container">
          <input type="email" required="" />
          <label>Email</label>
        </div>
        <div class="input-container">
          <input type="password" required="" />
          <label>Password</label>
        </div>
        <button type="button" class="btn">submit</button>
      </form>
    </div>
  </div>
</section>