<mat-toolbar>
	<button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
		<mat-icon>menu</mat-icon>
	</button>
	<span>Cardápio</span>
</mat-toolbar>

<img src="../assets/img/logo.jpg" alt="Logo" class="minhaLogo">
<h1 class="nomeRestaurante">Vader Cuisine</h1>

<div class="row row-cols-1 row-cols-md-2 g-4">
	<!-- Foods -->
	<div class="col centerCol">
		<div class="card">
			<img src="../assets/img/chewbaccaThigh.jpg" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">Chewbacca Thigh</h5>
			</div>
		</div>
	</div>
	<div class="col centerCol">
		<div class="card">
			<img src="../assets/img/frogSnacks.png" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">Frog Snacks</h5>
			</div>
		</div>
	</div>
	<div class="col centerCol">
		<div class="card">
			<img src="../assets/img/roastedPorg.png" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">Roasted Porg</h5>
			</div>
		</div>
	</div>
	<div class="col centerCol">
		<div class="card">
			<img src="../assets/img/rootStew.png" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">Root Stew</h5>
			</div>
		</div>
	</div>
	<div class="col centerCol">
		<div class="card">
			<img src="../assets/img/shuura.png" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">Shuura</h5>
			</div>
		</div>
	</div>
	<div class="col centerCol">
		<div class="card">
			<img src="../assets/img/coloClawFish.png" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">Colo Claw Fish</h5>
			</div>
		</div>
	</div>

	<!-- Drinks -->
	<div class="col centerCol">
		<div class="card">
			<img src="../assets/img/greenBlueMilk.png" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">Green/Blue Milk</h5>
			</div>
		</div>
	</div>
	<div class="col centerCol">
		<div class="card">
			<img src="../assets/img/jabbajuice.png" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">Jabba Juice</h5>
			</div>
		</div>
	</div>
	<div class="col centerCol">
		<div class="card">
			<img src="../assets/img/jawaJuice.png" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">Jawa Juice</h5>
			</div>
		</div>
	</div>
	<div class="col centerCol">
		<div class="card">
			<img src="../assets/img/thalaSirenMilk.png" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">Thala Siren Milk</h5>
			</div>
		</div>
	</div>
	<div class="col centerCol">
		<div class="card">
			<img src="../assets/img/medNog.png" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">Med Nog</h5>
			</div>
		</div>
	</div>
	<div class="col centerCol">
		<div class="card">
			<img src="../assets/img/spotchka.png" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">Spotchka</h5>
			</div>
		</div>
	</div>

	<!-- Desserts -->
	<div class="col centerCol">
		<div class="card">
			<img src="../assets/img/droidCupCake.png" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">Droid Cupcake</h5>
			</div>
		</div>
	</div>
	<div class="col centerCol">
		<div class="card">
			<img src="../assets/img/deathStarLoveMace.png" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">Death Star Love Mace</h5>
			</div>
		</div>
	</div>
	<div class="col centerCol">
		<div class="card">
			<img src="../assets/img/shuuraMousse.png" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">Shuura Mousse</h5>
			</div>
		</div>
	</div>
	<div class="col centerCol">
		<div class="card">
			<img src="../assets/img/millenniumFalconCake.png" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">Millennium Falcon Cake</h5>
			</div>
		</div>
	</div>
</div>